---
import ProfileCareersList from './ProfileCareersList.astro';
import ProfilePipelineSections from './ProfilePipelineSections.astro';
import ProfileOverview from './ProfileOverview.astro';
import ProfileShell from './ProfileShell.astro';
import type { OpenJob } from '../../lib/jobs';

const { organization } = Astro.props;
const openJobs = (Astro.props.openJobs ?? []) as OpenJob[];
const totalOpenJobs = Astro.props.totalOpenJobs ?? openJobs.length;
---

<ProfileShell organization={organization} totalOpenJobs={totalOpenJobs}>
  <div class="grid gap-10">
    <ProfileOverview organization={organization} />
    <ProfileCareersList
      openJobs={openJobs}
      totalOpenJobs={totalOpenJobs}
      careersHref={`/${organization.slug}/careers`}
      showPostedDates={false}
    />
    <ProfilePipelineSections />
  </div>
</ProfileShell>
